.main-container {
    background-color: $page-bg-color;
    width: 100%;
}

.search-box {
    width: 60%;    
    margin-top: 2%;
}

.footer {
    width: 100%;
    background-color: $footer-bg-color;    
}

.footer-text {
    color: $footer-text-color;
    font-size: 1.5rem;
}
