// Color palette

// Main page
$page-bg-color: #393e46;

$search-box-bg-color: white;
$search-box-text-color: black;
$search-box-text-size: 2rem;

$search-btn-bg-color: #ff165d;
$search-btn-text-color: white;

$footer-bg-color: #222831;
$footer-text-color: white;

// Breaking points
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;
