.search-btn {
    margin-bottom: 1rem;
    align-self: center;
    width: fit-content;
    padding: 1rem;
    background-color: $search-btn-bg-color;
    color: $search-btn-text-color;
    font-size: $search-box-text-size;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}
